html
	box-sizing border-box
	scroll-behavior smooth

*, *::before, *:after
	box-sizing inherit

body
	min-width 1366px
	margin 0
	font-family 'Roboto', Arial, sans-serif

input, textarea, button, select
	font-family inherit

img
	max-width 100%
	height auto

.container
	width 100%
	max-width 1366px
	margin 0 auto
	padding 0 15px

.visually-hidden
	position absolute
	width 1px
	height 1px
	margin -1px
	padding 0
	border none
	overflow hidden
	white-space nowrap
	clip rect(0,0,0,0)
	-webkit-clip-path inset(100%)
	clip-path inset(100%)
